/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.fileChooser {
    -fx-background-image:url("../../../resources/images/laptop.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: stretch; 
    -fx-pref-height: 28px;
    -fx-pref-width: 28px;
    -fx-background-position: center center;
}

